/*------------------------NAVBAR-------------------- */

:root {
  --primary-white: #fff;
  --blue: rgb(1, 186, 207);
  --primary-dark: rgb(255, 255, 255, 0);
}

nav {
  z-index: 2;
}
.logo {
  width: 10.25rem;
  margin-left: 2rem;
  cursor: pointer;
}

nav a.nav-link {
  font-weight: 400;
  letter-spacing: 1px;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 1rem;
  margin-left: 1rem;
  color: var(--blue) !important;
  border-bottom: 5px solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  border-bottom: 4px solid var(--blue);
}

/*------------------------HEADER-------------------- */

.header-wrapper {
  position: relative;
  background: url(./images/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.main-info h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  color: var(--blue);
}

.typed-text {
  color: var(--primary-white);
  font-size: 30px;
  margin-top: 30px;
}

.btn-main-offer {
  border: 1px solid white;
  border-radius: 5px;
  color: var(--primary-white) !important;
  width: 220px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-top: 50px;
  z-index: 2;
}

.btn-main-offer:hover {
  background-color: var(--primary-white);
  color: grey !important;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 2rem !important;
  }
  .typed-text {
    font-size: 1rem !important;
  }
}

/*-------------about----------------*/

.photo-img {
  height: 300px;
  width: 250px;
  border-radius: 50%;
}

.photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-heading h1 {
  text-transform: uppercase;
  margin-top: 30px;
}
.about-heading p {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .about-heading {
    margin-top: 50px;
    text-align: center;
  }
}

/*------------------------services------------------------*/

.services {
  margin-top: 60px;
  text-align: center;
  background: lightslategray;
}

.services h1 {
  color: var(--primary-white);
  text-transform: uppercase;
  margin-bottom: 40px;
  text-shadow: 2px 1px var(--blue);
  margin-top: 20px;
}

.services h3 {
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-white);
}

.services .circle {
  position: relative;
  margin: 5px auto;
  background: var(--blue);
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.services .icon {
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services p {
  color: white;
  font-weight: 100;
  font-size: 15px;
  margin-top: 10px;
}

.services .box {
  /* border: 2px solid var(--blue); */
}

.services .box:hover {
  background-color: var(--blue);
  border: 2px solid white;
  border-radius: 10%;
}
